@{
    ViewData["Title"] = "Member";
}

<h2>Thông tin Member</h2>
<p>Member Id: @ViewBag.member.MemberId</p>
<p>Username: @ViewBag.member.Username</p>
<p>Password: @ViewBag.member.Password</p>
<p>Fullname: @ViewBag.member.Fullname</p>
<p>Email: @ViewBag.member.Email</p>
